<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product App</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="nav-bar"></div>

  <div id="app">

    <div class="product">
      <div class="product-image">
        <a :href="link">
          <img v-bind:src="image" />
        </a>
      </div>


      <div class="product-info">
        <h1>
          {{product}}
        </h1>
        <p>{{description}}</p>
        <p v-if="inventory > 10">In Stock</p>
        <p style="color: rgb(187, 100, 0)" v-else-if="inventory <= 10 && inventory > 0">Almost out of stock!</p>
        <p style="color: red" v-else=>Out of Stock</p>
        <span style="color: green" v-if="onSale && inventory > 0">On Sale!</span>

        <ul>
          <li v-for="detail in details">
            {{detail}}
          </li>
        </ul>

        <div v-for="variant in variants" :key="variant.variantId">
          <p>{{variant.variantColor}}</p>
        </div>

        <div v-for="size in sizes">
          <span>{{size}}</span>
        </div>

        <button>Add to Cart</button>

        <div class="cart">
          <p>Cart({{cart}})</p>
        </div>

      </div>
    </div>

  </div>

  <script type="module" src="main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>
